/* Small Screen */
.container {
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .hero__left {
    margin-bottom: 2.5rem;
  }
  
  .hero__title {
    color: #06D6A0;
    margin-bottom: 0rem;
    font-size: 2.44rem;
  }

  .hero__subtitle {
    color: #118AB2;
  }
  
  .hero__description {
    color: #64748b;
    margin-bottom: 1rem;
  }
  
  .hero__button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: #06D6A0;
    color: #fff;
  }
  
  .hero__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }
  
  /* Medium Screen */
  @media (min-width: 768px) {
    /*
     * Nothing TODO Here.
     * We dont change style Hero. 
     */
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .container {
      max-width: 1200px;
    }
  
    .hero {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  
    .hero__left {
      flex-basis: 40%;
    }
  
    .hero__right {
      flex-basis: 60%;
    }

    .hero__title {
      color: #06D6A0;
      margin-bottom: 0rem;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 61px;
      line-height: 92px;
    }

    .hero__description {
      color: #64748b;
      margin-bottom: 2rem;
      margin-top: 2rem;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
    }

    .hero__subtitle {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
    }

    .hero__button {
      width: 223px;
      height: 65px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 38px;
    }
  }
  